aiofiles==0.7.0
altgraph==0.17.2
blinker==1.4
cffi==1.14.6
click==8.0.1
colorama==0.4.4
cryptography==35.0.0
Flask==2.0.2
Flask-WTF==0.15.1
future==0.18.2
h11==0.12.0
h2==4.1.0
hpack==4.0.0
Hypercorn==0.11.2
hyperframe==6.0.1
itsdangerous==2.0.1
Jinja2==3.0.2
MarkupSafe==2.0.1
pefile==2021.9.3
priority==2.0.0
pycparser==2.20
pywin32-ctypes==0.2.0
toml==0.10.2
waitress==2.0.0
Werkzeug==2.0.2
wsproto==1.0.0
WTForms==2.3.3
