aiofiles==0.8.0
altgraph==0.17.2
blinker==1.4
cffi==1.15.0
click==8.0.3
colorama==0.4.4
cryptography==36.0.1
Flask==2.0.2
Flask-WTF==1.0.0
future==0.18.2
h11==0.13.0
h2==4.1.0
hpack==4.0.0
hypercorn==0.13.2
hyperframe==6.0.1
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
pefile==2021.9.3
priority==2.0.0
pycparser==2.21
pyinstaller==4.8
pyinstaller-hooks-contrib==2022.0
pywin32==303
pywin32-ctypes==0.2.0
toml==0.10.2
waitress==2.1.1
Werkzeug==2.0.2
wsproto==1.0.0
WTForms==3.0.1
