@media(prefers-color-scheme:dark) {
    body {
        background-color: #111114;
    }

    h1,strong {
        color: white;
    }

    a {
        color: orangered;
    }
}

@media(prefers-color-scheme:light) {
    body {
        background-color: whitesmoke;
    }

    h1,strong {
        color: black;
    }

    a {
        color: blue;
    }
}

a {
    text-decoration-line: none;
}

a:hover {
    font-weight: bolder;
}

h1,strong {
    text-align: center;
}

input {
    color: orangered;
}

#filelist {
    margin: 0 auto;
    text-align: center;
}
