<!DOCTYPE html>
<html>

<head>
    <meta charset='UTF-8'>
    <title>下载文件</title>
    <meta name="author" content="邢栋">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta name="force-rendering" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <script>/*@cc_on window.location.href="https://support.dmeng.net/upgrade-your-browser.html?referrer="+encodeURIComponent(window.location.href); @*/</script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <a href="https://github.com/xclala/UploadDownloadFiles">
        <img src="https://xclala.gitee.io/github.svg">
    </a>
    <a href="..">上传文件</a>
    <h1>下载文件</h1>
    {% for fl in filelist %}
    <p><a href="/filelist/{{ fl }}">{{ fl }}<br></a></p>
    {% endfor %}
    <script>
        const BACKGROUNDCOLOR = ['#111114', 'whitesmoke']
        const TEXTCOLOR = ['white', 'black']
        const LINKCOLOR = ['orangered', 'blue']
        let c = 0
        document.getElementsByTagName("h1")[0].onclick = function () {
            document.body.style.backgroundColor = BACKGROUNDCOLOR[c % 2]
            document.getElementsByTagName("h1")[0].style.color = TEXTCOLOR[c % 2]
            let xx = document.getElementsByTagName("a")
            for (let i = 0; i < xx.length; i++) {
                xx[i].style.color = LINKCOLOR[c % 2]
            }
            c++
        }
    </script>
</body>

</html>